body {
  background-color: bisque;
}

.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#recipesgrid {
  display: flex;
  flex-wrap: wrap;
}
.drink {
  background-color: white;
  margin: 10px;
  width: 100px;
  height: 100px;
}
